.menu {
    transition: all 0.3s ease-in-out;
}

.menu a {
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #f87171;
}

/* Hamburger Menu Styling */
button {
    background: none;
    border: none;
    cursor: pointer;
}
.down {
    flex-basis: 100%; /* Allows the search bar to take its own row */
}